
#actions-dispay{
    display: flex;
    width: 100%;
}

.colors{
    border: 1px;
    position: relative;
    width: 40%;
    height: 10px;
    display: flex;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px;
}

.colors-information{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    height: calc(100% / 3);
    align-items: center;
    justify-content: space-around;

}

.card-text{
    font-weight: 600;
    color: #616161;

}



.card-overall-btn{

    display: none;
}

.pointer-label{
    cursor: pointer;
}

.overall-switch{
    position: relative;
    width: 10%;
    height: 70%;
}

#overall-switcher-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 0%;
    width: 6%;
    height: 100%;
    align-items: center;
}

