#filter_location{
    width: calc(100% - 8px);
    display: grid;
    grid-template-columns: 5px repeat(1, 1fr) 5px repeat(1, 1fr) 5px repeat(1, 1fr);

    color: white;
    font-weight: 600;
    justify-items: center;
}